body {
  background-color: #F3EBE4;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
  padding: 3vh;
}

footer {
  padding: 10px;
  text-align: center;
}


main {
  max-width: 700px;
  margin: auto;
  text-align: left;
  border-radius: 10px;
  background-color: #fff;
  max-height:fit-content;
  display: flex;
  flex-direction: row;
}

picture {
  padding: 0;
  margin: 0;
}

img {
  padding: 0;
  width:100%;
  height: auto;
  border-radius: 10px 0 0 10px;
  vertical-align: middle;
}

h1 {
  font-family: 'Fraunces', serif;
  padding: 10px;
  font-size: 2.3em;
}

.prices {
  display: flex;
  flex-direction: row;
}

.price1 {
  font-family: 'Fraunces', serif;
  color: #3D8168;
  font-size: 1.875em;
  float: left;
  margin: 0;
  flex: 50%;
}

.price2 {
  text-decoration: line-through;
  float: right;
  margin: auto;
  flex: 50%;
}

button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #3D8168;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-size: 1.25em;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.card button:hover {
  opacity: 0.7;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  line-height: 1.5;
  padding: 0 10px 0 10px;
  font-size: 14px;
}




@media only screen and (max-width: 425px) {

  .flex-item-right {
    padding: 3vh;
  }

  main {
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    background-color: #fff;
  }

  h1 {
    font-family: 'Fraunces', serif;
    padding: 10px;
    font-size: 35px;
  }



  img {
    padding: 0;
    width:100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    vertical-align: middle;
  }

  .price1 {
    font-family: 'Fraunces', serif;
    color: #3D8168;
    font-size: 30px;
    float:left;
    padding-left: 10px;
    margin: 0;
  }

  .price2 {
    text-decoration: line-through;
    float: right;
    margin: 13px 80px 0 0;
  }

  button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #3D8168;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
  }

  .card button:hover {
    opacity: 0.7;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    line-height: 1.5;
    padding: 0 10px 0 10px;
    font-size: 14px;
  }
}